   
.track-weather { font-family: sans-serif; color: #15171a }

.display-flex { display: flex}

.text-label { color: var(--color-midgrey) }

.track-weather .text { color: var(--color-darkgrey)  }

.track-weather .row {
  flex-direction: row;
  justify-content: space-evenly
}

.track-weather .col-2, .track-weather .col-3 {
  border-left: 0.1rem solid var(--ghost-accent-color);
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
  padding-left: 2rem
}

.track-weather .col-1 { flex-direction: column }

.track-weather .temp {
    color: var(--ghost-accent-color);
    font: 9.5rem/9.5rem sans-serif;
    margin:0
}

.track-weather .temp-description {
  color: var(--color-darkgrey);
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 767.98px) {
  .track-weather .col-2, 
  .track-weather .col-3 {
    padding-left: 1rem;
    margin-left: 1rem
  }
}

@media (max-width: 575.98px) {
  .track-weather .row {
    flex-direction: column;
    justify-content: flex-start
  }
  
  .track-weather .temp { font-size: 9rem; text-align: center }
 
  .track-weather .col-1 { justify-content: center }
    
  .track-weather .col-2, .track-weather .col-3 {
    border-top: 0.1rem solid var(--ghost-accent-color);
    border-left: none;
    margin-right: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }
}